/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
/*light*/
code { color: #006ca6; }
/*dark*/
[data-theme='dark'] code { color: #9cdcfe; }

/*ConfigTable*/
.indent0 { padding-left: 1em; }
.indent1 { padding-left: 3em; }
.indent2 { padding-left: 5em; }
.indent3 { padding-left: 7em; }

/*sidebar TARDIS*/
#sidebar-tardis {
    display: inline-block;
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-image: url('/images/sidebar-tardis.svg');
}

/*logos*/
span.dglogo {
    width:24px;
    height:24px;
    display: inline-block;
    position:relative;
    top:2px;
    background-repeat: no-repeat;
}

/*github logo*/
.github_logo {
    background-image: url('/images/github-black.svg');
}
[data-theme='dark'] .github_logo { background-image: url('/images/github-white.svg'); }

/*discord logo*/
.discord_logo {
    background-image: url('/images/discord-black.svg');
}
[data-theme='dark'] .discord_logo { background-image: url('/images/discord-white.svg'); }

img[alt='spawn_egg'] { width: 32px; position:relative; top:8px; padding-right: 8px; }
